<div class="bossMarket">
	<div id="bossmarket_navbar" class="navbar">
		<ul class="navmenu">
			<li class="navitem featured selected">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"main.menu","name":"lbl_featured"}' />
			</li>
			<li class="navitem categories">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"main.menu","name":"lbl_categories"}' />
			</li>
			<li class="navitem search">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"main.menu","name":"lbl_search"}' />
			</li>
			<li class="navitem updates">
				<div class="ico" />
				<div class="title" data-literal='{"scope":"main.menu","name":"lbl_updates"}' />
			</li>
		</ul>
	</div>
	<div class="sectionsContainer" />
</div>