<div class="appDetailsViewer">
	<div class="close_ico" />
	<div class="middleContainer">
		<div class="sidebar">
			<div class="appIcon" />
			<div class="navitem action" />
			<ul class="pnavigation">
				<li class="navitem about selected" data-literal='{"scope":"appDetails","name":"lbl_nav_about"}'>
					<div class="ico" />
				</li>
				<li class="navitem reviews" data-literal='{"scope":"appDetails","name":"lbl_nav_reviews"}'>
					<div class="ico" />
				</li>
				<li class="navitem changelog" data-literal='{"scope":"appDetails","name":"lbl_nav_changelog"}'>
					<div class="ico" />
				</li>
				<li class="navitem details" data-literal='{"scope":"appDetails","name":"lbl_nav_details"}'>
					<div class="ico" />
				</li>
			</ul>
		</div>
		<div class="mainbody">
			<div class="appTitle" />
			<div id="sectionContainer" class="sectionbody" />
		</div>
	</div>
</div>